@using CogShare.Utilities 
@model CreateItemViewModel 

@{
    ViewData["Title"] = "New Item";
}

@if(!Model.StatusMessage.IsNullWhiteSpaceOrEmpty())
{
    var dataClass = Model.ErrorState ? "alert alert-danger" : "alert alert-success";

    <div class="@dataClass">
        <strong>@Model.StatusMessage</strong>
    </div>
}

<form method="post">
    <div class="input-group mb-3">
         <div>
            <label>Item Display Name <br> @Html.TextBoxFor(x => x.DisplayName)</label>
       </div>
    </div>
    <div class="input-group mb-3">
        <div class="checkbox">
            <label>@Html.CheckBoxFor(x => x.CanBorrow)&nbsp; Item can be borrowed</label>
        </div>
    </div>
    <div class="input-group mb-3">
       <div class="checkbox">
            <label>@Html.CheckBoxFor(x => x.Consumable)&nbsp; Item is consumable (e.g solder, wire, other multi-use items)</label>
       </div>
    </div>
    <div class="input-group mb-3">
       <div>
            <label>Quantity on hand <br> @Html.TextBoxFor(x => x.QuantityOnHand)</label>
       </div>
    </div>
    <div class="form-group">
        <div class="text-center col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </div>
    </div>
</form>