@using CogShare.Utilities 
@model RequestItemViewModel

@{
    ViewData["Title"] = "Request Items";
}

@if(!Model.StatusMessage.IsNullWhiteSpaceOrEmpty())
{
    var dataClass = Model.ErrorState ? "alert alert-danger" : "alert alert-success";

    <div class="@dataClass">
        <strong>@Model.StatusMessage</strong>
    </div>
}

@if(Model.RequestableItems.Count == 0)
{
    <h3>User @Model.Requestee does not have any items available for borrowing, or available items have already been requested</h3>
}
else
{
    <h2>Items available for request from @Model.Requestee</h2>
        <div class="row">
            <div class="col-auto">
                <table class="table table-sm table-striped table-hover border-bottom table-light">
                    <thead>
                        <tr>
                            <th>
                                DisplayName
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.RequestableItems)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.DisplayName)</td>
                                <td><a asp-controller="Item" asp-action="SendItemRequest" asp-route-itemId="@item.Id">Request Item</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

}



