@using CogShare.Utilities 
@model UserSearchViewModel

@if(!Model.StatusMessage.IsNullWhiteSpaceOrEmpty())
{
    var dataClass = Model.ErrorState ? "alert alert-danger" : "alert alert-success";

    <div class="@dataClass">
        <strong>@Model.StatusMessage</strong>
    </div>
}
else
{
    <h3>Search results are below</h3>
    <div class="row">
        <div class="col-auto">
            <table class="table table-sm table-striped table-hover border-bottom table-light">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var user in Model.Users)
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => user.Email)</td>
                            <td>@Html.DisplayFor(x => user.UserName)</td>
                            <td><a asp-controller="Friend" asp-action="AddFriend" asp-route-Id="@user.Id">Add Friend</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}