@using CogShare.Utilities 
@model FriendViewModel 

@{
    ViewData["Title"] = "Friends";
}

@if(!Model.StatusMessage.IsNullWhiteSpaceOrEmpty())
{
    var dataClass = Model.ErrorState ? "alert alert-danger" : "alert alert-success";

    <div class="@dataClass">
        <strong>@Model.StatusMessage</strong>
    </div>
}

@if(Model.Friendships.Count == 0)
{
    <h3>You do not currently have any friends on cogshare, or you have pending requests.</h3>
}
else
{
    <h3>My Friends</h3>
    <div class="row">
            <div class="col-auto">
                <table class="table table-sm table-striped table-hover border-bottom table-light">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Friendships[0].User1.UserName)</th>
                            <th>@Html.DisplayNameFor(model => model.Friendships[0].User1.Email)</th>
                            <th colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var friendship in Model.Friendships)
                        {
                            var usermail = (friendship.User1.Id == Model.OwnerId) ? friendship.User2.Email : friendship.User1.Email;
                            var username = (friendship.User1.Id == Model.OwnerId) ? friendship.User2.UserName : friendship.User1.UserName;
                            var userId = (friendship.User1.Id == Model.OwnerId) ? friendship.User2.Id : friendship.User1.Id;
                            <tr>
                                <td>@username</td>
                                <td>@usermail</td>
                                <td><a asp-controller="Item" asp-action="RequestItem" asp-route-userId="@userId">Request Item</a></td>
                                <td><a asp-controller="Friend" asp-action="DeleteFriend" asp-route-Id="@friendship.Id">Delete Friend</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
}


